*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}


:root{
    --font-size: 4vh;
    --marker-duration: 1.2s;
}
body{
    background-image: url("paperwhite opacity.png");
    overflow: hidden;
}


/* Main Title button*/

#title{
    font-family: 'Nixie One';
    user-select: none;
    position: relative;
}

#titleBox{
    background: yellow;
    white-space: nowrap;
    overflow: hidden;
    width: 0em;
    animation-name: mark;
    animation-delay: 1.5s;
    animation-duration: var(--marker-duration);
    animation-fill-mode: forwards;  
    animation-timing-function: ease-in-out;
    box-shadow: .5em .5em 0.08em;
    border-radius: .08em;
    border-width: .06em;
    border-color: yellow;
    border-style: solid;

    cursor: pointer;

    transition: transform .2s ease-out, color .3s;

}

#titleBox:hover{
    color: rgb(0,80,0);
    transform: scale(1.04) skewX(-7deg);
}

#titleBox.clicked{
    color: green;
    transform: scale(1.05) skewX(-8deg);
    cursor: none;
    transition: transform 1s ease-out, color 1s;

}

#titleBox.clicked > #title{
    color: rgb(0, 163, 0);
 
}

#titleContainer{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--font-size);
    flex-direction: column

}

@keyframes mark{
    from{
        width: 0em;
    }
    to{
        width: 12em;
    }
}

/* Cloned titles */

#clones{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--font-size);
    flex-direction: column;
    z-index: -1;
    overflow: hidden;
}

.bgBox{
    position: relative;
    visibility: hidden;
    width: 12em;
    margin: 3vh;
    transform: scale(1.05) skewX(-8deg);
    box-shadow: .5em .5em 0.08em;
    border-radius: .08em;
    border-width: .06em;
    text-align: center
}

#clones > .bgBox:nth-child(1){
    background-color: red;
    color: blue;
}


#clones > .bgBox:nth-child(2){
    background-color: purple;
    color: pink;

}

#clones > .bgBox:nth-child(3){
    background-color: rgb(0, 217, 255);
    color: rgb(182, 255, 255);

}

#clones > .bgBox:nth-child(4){
    visibility: hidden;
}

#clones > .bgBox:nth-child(5){
    background-color: gold;
    color: rgb(255, 0, 212);

}

#clones > .bgBox:nth-child(6){
    background-color:yellowgreen;
    color:rgb(94, 94, 94);

}

#clones > .bgBox:nth-child(7){
    background-color: rgb(255, 123, 0);
    color: rgb(255, 188, 162);

}




#content.zoom > #clones{
    animation: colors 3s ease-out,fade 1s 2.9s ease-out forwards;
}

@keyframes fade{
    from{
        filter: contrast(3);
    }
    40%{
        opacity: 0%
    }
    to{
        opacity: 0%;
        transform: scale(.7);
        filter: blur(20px)
    }
}

@keyframes colors{
    to{
        filter: contrast(3) hue-rotate(360deg)
    }
}