*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}


#title{
    font-family: 'Nixie One';
    user-select: none;
}

#titleBox{
    background: yellow;
    white-space: nowrap;
    overflow: hidden;
    width: 0em;
    animation-name: mark;
    /* animation-delay: 1.5s; */
    animation-duration: 1.2s;
    animation-fill-mode: forwards;  
    animation-timing-function: ease-in-out;
    box-shadow: .5em .5em 0.08em;
    border-radius: .08em;
    border-width: .06em;
    border-color: yellow;
    border-style: solid;

    cursor: pointer;

    transition: color .4s;
    transition: transform .15s ease-out, color 2s;

}

#titleBox:hover{
    color: rgb(0,75,0);
    transform: scale(1.04) skewX(-7deg);
    transition: transform .2s ease-out, color .3s;
}

#titleBox.clicked{
    color: green;
    transform: scale(1.05) skewX(-8deg);
}

#titleBox.clicked > #title{
    color: green;
 

}

#titleContainer{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5vw;

}

@keyframes mark{
    from{
        width: 0em;
    }
    to{
        width: 12em;
    }
}



