html, body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.title{
  color: white;
  margin-left: 40px;
  margin-top: 20px;
}

.title a{
  
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */

}

video{
  display: none;
}

@media screen and (max-width:600px){
  .title{
    font-size: 18px;
  }
}


canvas{
  z-index: -1;
  opacity: 0;
  transition: opacity 1s;

}

.visible{
  opacity: 1;

}
